.bannerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  background-color: #0B0B0B;
  padding: 0px 24px;
  position: absolute;
  top: 54px;
  width: 100vw;
  font-weight: 100 !important;
}
  
.bannerHeader__button {
  font-family: inherit;
  background-color: rgb(var(--tangem-main-white));
  color: #0B0B0B;
  border-radius: 100px;
  padding: 10px 14px;
  font-size: 1rem;
  margin: 0 0 0 auto;
  cursor: pointer;
  font-weight: 900;
  min-width: 110px;
  transition: background-color, opacity 0.5s;
  opacity: 1;
}

.bannerHeader__button:hover {
  opacity: 0.90;
}

.bannerHeader__info {
  font-size: 1rem;
  margin: 0 auto;
}

.bannerHeader__close {
  all: unset;
  top: 15px;
  right: 15px; 
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.textBold {
  font-weight: 900;
}

.textYellow {
  color: rgb(var(--tangem-main-yellow));
}

.gap {
  margin: 0 27px;
}

@container nestedContainer (max-width: 1000px) {
  .bannerHeader__info_text {
    display: none;
  }
}

@container nestedContainer (max-width: 850px) {
  .bannerHeader {
    padding-left: 0px;
  }
}

@container nestedContainer (max-width: 750px) {
  .bannerHeader > img {
    position: absolute;
    left: -62px;  
  }

  .bannerHeader {
    padding-left: 25%;
  }
}

@container nestedContainer (max-width: 695px) {
  .bannerHeader__info_text_code {
    display: none;
  }

  .bannerHeader > img {
    position: absolute;
    left: -82px;  
  }

  .bannerHeader__info {
    text-align: center;
    width: 100%;
  }

  .gap {
    margin: 0 0 0 10px;
  }
}

@container nestedContainer (max-width: 500px) {
  .bannerHeader {
    padding-left: 35%;
    top: 108px;
  }

  .bannerHeader__button {
    display: none;
  }
}

@container nestedContainer (max-width: 370px) {
  .bannerHeader {
    padding-right: 10px;
  }

  .bannerHeader > img {
    position: absolute;
    left: -102px;  
  }
}