.header {
  height: 54px;
  background-color: rgb(var(--tangem-main-black));
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  width: 100%;
}
  
.timer {

}

.statusBar {
  
}

@container nestedContainer (max-width: 500px) {
  .header {
    display: flex;
  }
}