.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameCard {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.gameCard__title {
    margin: 15px 0px;
}

.gameCard__provider {
    margin-bottom: 15px;
    font-family: 600;
}

.gameCard__list {
    margin-left: 15px;
}

.gameCard__list_item {
    display: flex;
}

.gameCard__categories_title {
    margin-bottom: 10px;
}